.App {
  width: 100vw;
  display: flex;
  height: 100vh;
  text-align: center;
  align-items: center;
  flex-direction: column;
  background-color: #FCFCFC;
}

.Navigation {
  width: 100vw;
  height: 5wh;
  background-color: red;
}

.TodoItem {
  width: 50vw;
  height: 10vh;
  margin: 10px;
  display: flex;
  font-size: 2rem;
  color: #FCFCFC;
  font-weight: bold;
  text-align: center;
  align-items: center;
}

.TodoItemDone {
  background-color: #256EFF;
  text-decoration: line-through;
}

.TodoItemActive {
  background-color: red;
}

.NewTodoInput {
  width: 80vw;
  height: 55px;
}

.EditTodo {
  text-decoration: none;
}

input, select, textarea {
  font-size: 50px;
  color: #160C28;
}

.checkbox {
  width: 50px;
  margin: 10px;
  height: 50px;
}

::placeholder {
  opacity: 1;
  font-size: 40px;
}

.SortingButtons {
  display: flex;
  flex-direction: row;
}

.NavigationInput {
  font-size: 20px;
}