.App {
  width: 100vw;
  display: flex;
  height: 100vh;
  text-align: center;
  align-items: center;
  flex-direction: column;
  background-color: #ECE5F0;
}

.Navigation {
  width: 100vw;
  display: flex;
  min-height: 3rem;
  flex-direction: row;
  padding-right: 5rem;
  padding-bottom: 1rem;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: #003B36;
}

.Prompt {
  color: white;
  font-size: 5rem;
  font-family: "Roboto", Times, serif;
}

.TodoContainer {
  width: 85rem;
  height: 40vh;
  opacity: 0.9;
  display: flex;
  padding: 25px;
  overflow-y:scroll; 
  position:relative;
  padding-top: 100px;
  border-radius: 1rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

.TodoItem {
  width: 80rem;
  height: 10vh;
  margin: 10px;
  display: flex;
  font-size: 2rem;
  color: #FCFCFC;
  font-weight: bold;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.TodoItemDone {
  background-color: #012622cf;
  text-decoration: line-through;
}

.TodoItemActive {
  background-color: #012622;
}

.NewTodoInput {
  width: 80vw;
  height: 55px;
  text-align: center;
}

.EditTodo {
  text-decoration: none;
  width: 95%;
}

input, select, textarea {
  font-size: 2rem;
  color: #160C28;
}

::placeholder {
  opacity: 1;
  font-size: 2rem;
}

.SortingButtons {
  display: flex;
  flex-direction: row;
  margin: 1rem;
}

.NavigationInput {
  font-size: 20px;

}

.Btn {
  width: 200px;
  height: 50px;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  background-color: #59114D;
}

.InnerTodoContainer {
  width: 100%;
  display: flex; 
  padding: 2rem;
  flex-direction: row;
  align-items: 'center';  
  align-content: center;
}