.App {
  width: 100vw;
  display: flex;
  height: 100vh;
  text-align: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
}

.Navigation {
  width: 100vw;
  display: flex;
  min-height: 3rem;
  padding-top: 0.1rem;
  flex-direction: row;
  padding-right: 5rem;
  padding-bottom: 0.1rem;
  align-items: flex-end;
  align-content: center;
  justify-content: flex-end;
  background-color: #12355B;
}

.Prompt {
  color: white;
  font-size: 3rem;
  text-shadow: 3px 3px 5px #000;
  font-family: "Roboto", Times, serif;
}

.Prompt-Title {
  font-size: 3rem;
  color: white;
}

.TodoContainer {
  width: 95%;
  height: 50rem;
  opacity: 0.85;
  display: flex;
  padding-top: 150px;
  overflow-y: scroll; 
  position: relative;
  border-radius: 1rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: black;
}

.TodoItem {
  width: 95%;
  height: 3.5rem;
  margin: 10px;
  display: flex;
  font-size: 2rem;
  color: #FCFCFC;
  font-weight: bold;
  text-align: center;
  border-radius: 1rem;
  align-items: center;
  justify-content: space-between;
}

.TodoItemDone {
  background-color: rgba(10, 28, 46, 0.812);
  text-decoration: line-through;
}

.TodoItemActive {
  background-color: green;
}

.NewTodoInput {
  width: 60rem;
  height: 55px;
  text-align: center;
}

.EditTodo {
  text-decoration: none;
  width: 95%;
}

input, select, textarea {
  font-size: 2rem;
  color: #160C28;
  opacity: 0.9;
}

::placeholder {
  opacity: 1;
  font-size: 2rem;
}

.SortingButtons {
  width: 60rem;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.SignInFormNavigation {
  width: 40rem;
  height: 3rem;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

.NavigationInput {
  height: 1.5rem;
  border-radius: 5%;
  font-size: 20px;
}

.Btn {
  width: 300px;
  height: 50px;
  display: flex;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  background-color: #AF3B6E;
}

.Btn-Signout {
  width: 10rem;
  height: 2rem;
  font-size: 1.5rem;
  align-self: center;
  border-width: 0rem;
  background-color: #160C28;
}

.Btn-Signin {
  width: 5rem;
  height: 1.5rem;
  font-size: 1rem;
}

.Btn-Delete {
  color: white;
  margin-right: 2rem;
}

.InnerTodoContainer {
  width: 100%;
  display: flex; 
  padding: 1.5rem;
  flex-direction: row;
  align-items: 'center';  
  align-content: center;
}

.loader {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #12355B;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

a {
  color: pink;
}

